#hero {
    background-image: url(../imgs/hero.jpg);
    background-size: cover;
    width: 100%;
    text-align: center;
    color: white;
    padding-bottom: 1em;
    text-shadow: 2px 2px black ;
}

#hero img {
    display: none;
}

#amenities {
    display: flex;
    background-color: rgb(239, 173, 59);
    padding: 1em;
    justify-content: center;
}

#amenities h2 {
    color: white;
}

#amenities section {
    background-color: white;
    padding: 1em;
    margin: 1em;
}

#amenities section img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
}

#accommodations {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 1em;
    gap: 1em;
}

#accommodations img {
    width: 100%;
    border: 10px rgb(239, 173, 59) solid;
}

#accommodations p {
    padding: 0;
}

#testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    border: 10px white solid;
}

#testimonials section {
    background-color: rgb(239, 173, 59);
    color: white;
    padding: 1em;
}

@media screen and (max-width: 1070px) {
    #hero img {
        display: block;
        max-width: 100%;
    }

    #hero {
        background-image: none;
        background-color: white;
        color: black;
        text-shadow: none;
    }

    #amenities {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #amenities h2 {
        grid-column: span 2;
    }

    h2 {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 30pt;
    }
    
    #amenities {
        display: block;
    }

    #accommodations {
        display: block;
    }

    #testimonials {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}