.odd {
    display: flex;
}

.even {
    display: flex;
    flex-direction: row-reverse;
}

main section {
    margin: 2em 0;
    gap: 1em;
    justify-content: center;
}

main section h2 {
    padding-top: 0;
}

main section img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    border: 10px rgb(239, 173, 59) solid;
}

main section ul {
    margin-top: 1em;
}

@media screen and (max-width: 1070px) {
    section img {
        width: 100%;
        max-height: auto;
        object-fit: cover;
        max-width: none;
    }
}

@media screen and (max-width: 600px) {
    .odd {
        display: flex;
        flex-direction: column-reverse;
    }

    .even {
        display: flex;
        flex-direction: column-reverse;
    }

    section img {
        width: 100%;
        margin: auto;
    }
}