body {
    padding-bottom: 1em;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin: 1em;
}

main section {
    background-color: rgb(239, 173, 59);
    color: white;
    padding: 1em;
}

section footer {
    margin-top: 1em;
    position: relative;
}

.col-span-2 {
    grid-column: span 2;
}

@media screen and (max-width: 1070px) {
    main {
        display: flex;
        flex-direction: column;
    }
}